html {
    height: 100%
}

#main,body {
place-content: center
}

body {
    font: 16px/1.5 Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    overflow-x: hidden;
    place-items: center;
    background:linear-gradient(0deg,#8eeea3,#284964) no-repeat, #8eeea3;
}

#main {
background: #daf0e3;
place-content: center;
display: flex;
flex: 1 1 100%;
min-height: 1000px;
width: 100%;
}

body,footer,header {
    place-items: center
}

footer {
    place-self: self-end;
    background: #82988b;
    font-size: .75em;
    flex: 1 1 2em;
    display: flex;
    place-content: center;
    width: 100%;
}

header {
    background: #566c5f;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    padding: 1em 0;
    position: sticky;
    top: 0;
}

table {
    border-top: 1px solid #aec4b7;
    margin: 2em;
    border-collapse: collapse
}

input {
    line-height: 2
}

button,table>tr>td {
    line-height: 2;
    cursor: pointer;
    min-width: 72px
}

table>tr {
    text-align: center;
    border-bottom: 1px solid #aec4b7;
    border-right: 1px solid #aec4b7;
    display: flex
}

#remove {
background: #f953a8;
padding: 0 .75em
}

#left,#right {
background: #f0f;
padding: 0 .75em
}

table>tr>td {
    white-space: nowrap;
    border-left: 1px solid #aec4b7;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
    user-select: none;
    box-sizing: border-box;
    min-width: 3ch;
    --col-width: 2;
    font-size: .75em
}

table>tr>td:first-of-type {
    width: 100px;
    cursor: default
}

.selected {
    background: #eee;
    box-shadow: 0 0 0 1px #000 inset
}
